<IfModule mod_rewrite.c>
 RewriteEngine on
 RewriteRule ^/.git/?$ - [F,L]
 RewriteRule ^order-received.*$ ../index.php [QSA,PT,L]
  RewriteRule ^order-pay.*$ ../index.php [QSA,PT,L]
  RewriteRule ^$ ../index.php [QSA,PT,L]
 RewriteRule ^(.*)$ public/$1 [QSA,PT,L]
</IfModule>
<Files .env>
Order allow,deny
Deny from all
</Files>